.footer__copyright {
  padding: 18px 0;
  text-align: center;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 786px) {
}

@media only screen and (max-width: 576px) {
  .footer__copyright {
    font-size: 0.6rem;
  }
}