@import "../reset.css";
@import "../variables.css";
@import "../layouts/button.css";
@import "../layouts/header.css";
@import "../layouts/footer.css";

.history {
  margin-top: 150px;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.history-empty {
  text-align: center;
  font-size: 1.4rem;
  color: var(--red-500);
}

.history__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  margin-top: 150px;
  text-align: center;
}

.history__table {
  table-layout: fixed;
  width: 100%;
}

.history__heading {
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid var(--gray-300);
}

.history__heading th {
  padding: 14px 20px;
  border: 1px solid var(--gray-300);
  text-align: center;
  vertical-align: middle;
}

.history__row td{
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--gray-300);
  font-size: 1.2rem;
}

.history__image {
  width: 100%;
  height: 100%;
}

.history__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.96);
}

.history__product-size,
.history__product-name {
  text-transform: uppercase;
}

.history__payment {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.history__btn-payment {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.btn.btn--payment {
  margin: 0;
  background-color: black;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.btn.btn--payment:hover {
  background-color: var(--red-500);
}

.modal__select-size {
  width: 90%;
  max-height: 90%;
  overflow-y: scroll;
}

.modal__size-heading {
  margin-left: 0;
  font-size: 2rem;
  text-align: center;
}

.modal__confirm {
  display: flex;
  gap: 10px;
}



/* Tablet */
@media only screen and (max-width: 992px) {
  .history__title {
    font-size: 2.5rem;
  }

  .history__heading th {
    font-size: 0.8rem;
  }

  .history__row td {
    font-size: 1rem;
  }

}

@media only screen and (max-width: 786px) {
  .btn.btn--payment {
    font-size: 1rem;
  }

}

/* Mobile */
@media only screen and (max-width: 576px) {
  .history__title {
    font-size: 2rem;
    margin-top: 75px;
  }
  .history__heading {
    display: none;
  }
  .history__row {
    display: block;
    border: 1px solid var(--gray-300);
  }

  .history__row td {
    display: block;
    border: none;
  }

  .btn.btn--payment {
    font-size: 1rem;
    padding: 8px 10px;
  }

  .modal__size-heading {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 424px) {

  .btn.btn--payment {
    font-size: 0.6rem;
  }

  .history__title {
    font-size: 1.4rem;
    margin-top: 50px;
  }
}
